* {
    box-sizing: border-box;
}

html {
    -webkit-font-family: 'Fjalla One', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    background-color: #503D1B;
}

body {
    margin: 0;
}

.container {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .container {    
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .container {
        display: flex;
    }
}

a {
    text-decoration: none;
}

.active {
    display: block;
}

.singleAppear {
    display: flex;
}

.blurDown {
    opacity: 1;
    animation-name: blurringDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes blurringDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

.blurUp {
    opacity: .1;
    animation-name: blurringUp;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes blurringUp {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}
