* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, "Times New Roman", sans-serif;
    background-color: #503D1B;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .container {    
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .container {
        display: flex;
    }
}

a {
    text-decoration: none;
}
