@media screen and (max-width: 800px) {
    
    .menu-container {
        width: 100%;
    }


    //Hamburger menu styles
    .mobile-hamburger-menu {
        width: 100%;
        height: 10vh;
        position: relative;
    }

    .hamburger-menu-positioner {
        height: 100%;
        position: absolute;
        left: 70%;
    }

    .hamburger-menu-positioner img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-menu-wrapper {
        position: relative;
        width: 100%;
        margin-top: 5vh;
        display: none;
    }

    .main-menu-list {
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        position: relative;
    }


    //Main menu styles
    .main-menu-item {
        width: 100%;
        height: 15vh;
        border-top: 1px solid #6B5824;
        font-size: 1.5rem;
        color: #DBBC94;
        z-index: 50;
    }

    .main-menu-item:last-child {
        border-bottom: 1px solid #6B5824;
    }

    .main-menu-item a {
         color: #DBBC94;
        }

    .main-menu-home,
    .main-menu-gallery,
    .main-menu-contact {
        width: 100%;
        height: 90%;
    //Centering span vertically & horizontally
        text-align: center;
        display: table;
        position: relative;
    }

    .main-menu-home span {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .main-menu-gallery span {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    .main-menu-contact span {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    //Grid gallery styles
    .main-gallery-grid {
        width: 100%;
        display: none;
    }

    .row {
        width: 100%;
    }

    .grid-gallery-item {
        width: 100%;
    }

    .gallery-item-description {
        padding: 3vh 0 3vh 3vw;
    }
    
    
    //Contact form styles
    .main-menu-form {
        display: none;
        width: 100%;
        position: relative;
    }
    
    .menu-contact-item {
        width: 100%;
        display: block;
        padding: 5px 5px 5px 10px;
    }
    
    .menu-contact-item:nth-child(3) {
        width: 100%;
    }
    
    #menu-contact-name,
    #menu-contact-mail {
        width: 100%;
        height: 7vh;
        margin-bottom: 5vh;
        border: 1px solid #503D1B;
        border-radius: 4px;
        background-color: transparent;
    }
    
    #menu-contact-message {
        width: 100%;
        border: 1px solid #503D1B;
        border-radius: 4px;
        background-color: transparent;
    }
    
    .menu-contact-button {
        width: 100%;
        height: 7vh;
        padding-left: 18vw;
    }
    
    #menu-input-button {
        height: 100%;
        width: 10vw;
        border-radius: 4px;
        border: 1px solid #503D1B;
        background-color: #503D1B;
        color: #DBBC94;
    }

}

