.information-wrapper {
    width: 100%;
}

.info-main-text {
    width: 100%;
    text-align: center;
    color: #DDCD98;
    margin-top: 15vh;
}

.info-separator {
    border-top: 1px solid #826B2B;
    width: 50%;
    margin-left: 25%;
}

.info-description {
    color: #C98F5E;
    text-align: center;
    margin-top: 5vh;
}
