@media screen and (max-width: 800px) {
    
    .slider-container {
        width: 100%;
        height: 67vh;
        margin-top: 3vh;
        position: relative;
    }

    .slider-item-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: none;
    }

    .slider-item-wrapper img {
        width: 100%;
        height: 100%;
    }

    .slider-arrow-wrapper:first-child {
        width: 10%;
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 5;
    }

    .slider-arrow-wrapper:last-child {
        width: 10%;
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 5;
    }

    .slider-arrow-right {
            position: relative;    
            width: 50px;
            height: 50px;
            left: -2vw;
            transform: rotate(45deg);
            background-color: transparent;
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
    }

    .slider-arrow-left {
            position: relative;    
            width: 50px;
            height: 50px;
            left: 1vw;
            transform: rotate(45deg);
            background-color: transparent;
            border-left: 4px solid #fff;
            border-bottom: 4px solid #fff;
    }

    .slider-text-wrapper {
        width: 50vw;
        visibility: hidden;
        position: absolute;
        top: 40vh;
        left: 22vw;
        background-color: transparent;
        animation-name: appearingText;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes appearingText {
        0% {
            visibility: hidden;
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: .7;
            top: 25vh;
        }
    }

    .slider-text-heading,
    .slider-text-description {
        background-color: #000;
        border-radius: 4px;
        opacity: inherit;
        color: #fff;
        text-align: center;
    }

}

