@media screen and (min-width: 800px) {
    .logo-menu-wrapper {
        width: 30%;
        height: 100%;
        position: fixed;
    }
    
    .slider-gallery-info-wrapper {
        width: 70%;
        height: 100%;
        margin-left: 31%;
    }
    
    .info-and-social-container {
        background-color: #321C11;
        width: 100%;
    }
    
    .to-top-container {
        display: none;
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 0;
        right: 10vw;
        border-radius: 6px;
        background-color: #412E16;
        opacity: .6;
    }
    
    .to-top-arrow {
        width: 50%;
        height: 50%;
        position: relative;
        top: 4vh;
        left: 1vw;
        background-color: transparent;
        transform: rotate(45deg);
        border-left: 5px solid #fff;
        border-top: 5px solid #fff;
    }
}
