@media screen and (min-width: 800px) {
    .information-wrapper {
        width: 100%;
    }

    .info-main-text {
        width: 100%;
        text-align: center;
        color: #DDCD98;
        padding-top: 12vh;
    }

    .info-separator {
        border-top: 1px solid #826B2B;
        width: 30%;
        margin-left: 35%;
    }

    .info-description {
        color: #C98F5E;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}
