@media screen and (min-width: 800px) {
    
    .menu-container {
        width: 100%;
    }


        //Hamburger menu styles
    .mobile-hamburger-menu {
        display: none;
    }

    .main-menu-wrapper {
        width: 100%;
        margin-top: 5vh;
    }

    .main-menu-list {
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        position: relative;
     }


        //Main menu styles
    .main-menu-item {
        width: 100%;
        height: 15vh;
        border-top: 1px solid #6B5824;
        font-size: 1.5rem;
     }

    .main-menu-item:last-child {
        border-bottom: 1px solid #6B5824;
     }

    .main-menu-item a {
            color: #DBBC94;
     }

    .main-menu-home,
    .main-menu-gallery,
    .main-menu-contact {
        width: 100%;
        height: 90%;
        //Centering span vertically & horizontally
        text-align: center;
        display: table;
        position: relative;
     }

    .main-menu-home span {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
     }

    .main-menu-gallery span {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
     }

    .main-menu-contact span {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
     }
    
    
        //Menu home styles
    .menu-home-wrapper {
        display: none;
        position: relative;
        top: -40vh;
        left: 31vw;
        width: 68vw;
        height: 100vh;
    }
    
    .home-backgrd-wrapper,
    .home-slogan-text,
    .home-info-wrapper,
    .home-info-heading,
    .home-first-text,
    .home-first-heading,
    .home-second-text,
    .home-second-heading,
    .home-third-text {
        width: 100%;
        height: 12vh;
        position: absolute;
    }
        
    .home-backgrd-wrapper {
        top: 0;
        height: 15vh;
    }
    
    .home-about-heading {
        border: 1px solid pink;
        top: 0;
    }
    
    .home-backgrd-separator {
        width: 90%;
        border-top: 1px solid #fff;
        margin-left: 5%;
        position: absolute;
        top: 12vh;
        height: 0;
    }
    
    .home-slogan-text {
        text-align: center;
        border: 1px solid yellow;
        padding: 0;
        top: 12vh;
    }
    
    .home-info-wrapper {
        height: 76vh;
        top: 15vh;
    }
    
    .home-info-heading {
        margin-top: 10vh;
        border: 1px solid green;
        top: 0;
    }
    
    .home-info-separator {
        position: absolute;
        top: 12vh;
    }
    
    .home-first-text {
        border: 1px solid pink;
        font-size: 1.2rem;
        top: 24vh;
    }
    
    .home-first-heading {
        border: 1px solid yellow;
        top: 36vh;
    }
    
    .home-second-text {
        border: 1px solid green;
        font-size: 1.2rem;
        top: 48vh;
    }
    
    .home-second-heading {
        border: 1px solid pink;
        top: 60vh;
    }
    
    .home-third-text {
        border: 1px solid yellow;
        font-size: 1.2rem;
        top: 72vh;
    }

        //Grid gallery styles
    .main-gallery-grid {
        width: 30vw;
        position: relative;
        z-index: 100;
        top: -52vh;
        left: 35vw;
        display: none;
     }

    .row {
        width: 100%;
        display: flex;
     }

    .grid-gallery-item {
        width: 33.333%;
        background-color: #503D1B;
     }
    
    .grid-item-wrapper {
        width: 100%;
        height: 175px;
        overflow: hidden;
    }
    
    .grid-item-wrapper img {
        max-height: 100%;
        max-width: 100%;
        transition: all 1s ease;
    }
    
    .grid-item-wrapper:hover img {
        transform: scale(1.15);
    }

    .gallery-item-description {
        height: 30px;
        padding-left: 1vw;
     }
    
    
        //Contact form styles
    .main-menu-form {
        display: none;
        width: 30vw;
        height: 100vh;
        position: relative;
        top: -50vh;
        left: 40vw;
    }
    
    .menu-contact-item {
        width: 70%;
        display: block;
        padding: 5px 5px 5px 10px;
    }
    
    .menu-contact-item:nth-child(3) {
        width: 100%;
    }
    
    #menu-contact-name,
    #menu-contact-mail {
        width: 100%;
        height: 7vh;
        margin-bottom: 5vh;
        border: 2px solid #fff;
        border-radius: 4px;
        background-color: transparent;
    }
    
    #menu-contact-message {
        width: 100%;
        border: 2px solid #fff;
        border-radius: 4px;
        background-color: transparent;
    }
    
    .menu-contact-button {
        width: 100%;
        height: 7vh;
        padding-left: 18vw;
    }
    
    #menu-input-button {
        height: 100%;
        width: 10vw;
        border-radius: 4px;
        border: 1px solid #FF9D1A;
        background-color: #FF9D1A;
        color: #DBBC94;
    }
    
    .menu-error-message {
        position: absolute;
        width: 20vw;
        height: 20vh;
        top: 0;
        left: 33vw;
        color: #ff0000;
    }
}
